#pasrs_games {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#pasrs_games > div {
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: rgba(242, 247, 250, 0.80);
    border: 1px solid rgb(240, 240, 240);
    padding: 8px 16px;
}